
  <h2>Form Update</h2>

  <form #form='ngForm' (ngSubmit)='onSubmit(form)'>
    <div class='form-group'>
      <label for='customerName'>Customer name</label>
      <input type="text" id='customerName' name='customerName' class='form-control' placeholder='Customer Name' [(ngModel)]='customer.name' #custName='ngModel' #classTest pattern='J.*' [class.field-error]='form.submitted && custName.invalid' (blur)='onCustNameBlur(custName)'>
    </div>
    <h3>Valid : {{custName.valid}}</h3>
    <h3>Invalid : {{custName.invalid}}</h3>
    <h3>Untouched : {{custName.untouched}}</h3>
    <h3>Touched : {{custName.touched}}</h3>
    <h3>Dirty : {{custName.dirty}}</h3>
    <h3>Pristine : {{custName.pristine}}</h3>

    <div class='alert alert-danger' [hidden]='!form.submitted || custName.valid'>
      You have to enter a valid name
    </div>
    <h3 style='color:orange'>{{classTest.className}}</h3>
    <div class='form-group'>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="emailOffers" name='emailOffers' [(ngModel)]='customer.emailOffers'>
        <label class="form-check-label" for="emailOffers">
          Send me some spam
        </label>
      </div>
    </div>

    <div class='form-group'>
      <h5>IDE Style</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="ideStyle" id="solarized-light" value="solarized light" checked [(ngModel)]='customer.ideStyle'>
        <label class="form-check-label" for="solarized-light">
          Solarized Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="ideStyle" id="default-white" value="default white" [(ngModel)]='customer.ideStyle'>
        <label class="form-check-label" for="default-white">
          Default White
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="ideStyle" id="solarized-dark" value="solarized dark" [(ngModel)]='customer.ideStyle'>
        <label class="form-check-label" for="solarized-dark">
          Solarized Dark
        </label>
      </div>
    </div>

    <div class='form-group'>
      <label for="subscription-type">Subscription Type</label>
      <select class="custom-select" name='subscriptionType' id='subscriptionType' [(ngModel)]='customer.subscriptionType'>
          <option selected>Monthly</option>
          <option>Quarterly</option>
          <option>Annually</option>
        </select>
    </div>

    <button class='btn btn-primary'>OK</button>
  </form>
  <div>
    <pre>
      {{ form.value | json }}
    </pre>
  </div>



