

<mat-card>
  <mat-card-header>
    <mat-card-title>Register a new user</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form" #form='ngForm'>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="username" name="username" ngModel>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="passsword" name="password" type="password" ngModel>
      </mat-form-field>
      <button mat-button (click)='onRegister(form)'>Register</button>
    </form>
  </mat-card-content>
</mat-card>




