
<form class="example-form">
  <mat-form-field class="example-full-width" (keyup)='filterArray($event.target.value)'>
    <input matInput placeholder="Search filter" value="">
  </mat-form-field>
</form>

<div>
  <table mat-table [dataSource]='books' class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let book"> {{book.name}} </td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let book"> {{book.author}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let book"> {{book.price}} </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let book"> {{book.rating}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- <div>
  <input type="text" placeholder='filter' (keyup)='filterArray($event.target.value)'>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let book of books'>
        <td><img src='images/{{book.image}}' title='{{book.title}}'></td>
        <td>{{book.name }}</td>
        <td>{{book.author}}</td>
        <td>{{book.price | currency:'USD':'symbol':'1.2-2'}}</td>
        <td>{{book.rating | numberToStars}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

